body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #89CFF0, #6A5ACD, #1E90FF);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

form {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 1.1em;
    color: #555;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 2px solid #1E90FF;
    border-radius: 4px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background: #1E90FF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #4169E1;
}

#response {
    margin-top: 20px;
    font-size: 1.1em;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #1E90FF; /* Spinner color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}